div{
    background: black;
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
    
}

div:first-child:hover{
    transition-timing-function: ease-in;
    transition: 0.5s;
    width: 400px;
    background: blue ;
    
}

div:nth-child(2):hover{
    transition-timing-function: ease-out;
    width: 400px;
    transition: 0.5s;
    box-shadow: 10px 15px 7px rgb(230, 96, 96);
}

div:nth-child(3):hover{
    transition-timing-function: ease-in-out;
    width: 400px;
    border-radius: 50%;
    transition: 0.9s;
    transform: matrix(180deg);
    background: rgb(37, 112, 37);
}

div:last-child:hover{
    transition-timing-function: linear;
    width: 400px;
    transition: 0.3s;
    opacity: 0.5;
    background: yellow;
}